<h2>Create New Coupon Form</h2>

  <%= form_with model: model, method: method, url: url, class: 'merchant_coupon_form', local: true do |f| %>
    <%= f.hidden_field :merchant_id, value: @merchant.id %>
    <%= f.label :name %>
    <%= f.text_field :name %> 
    <br>
    <%= f.label :unique_code %>
    <%= f.text_field :unique_code %> 
    <br>
    <%= f.label :value %>
    <%= f.number_field :value %> 
    <br>
    <%= f.label :value_type %>
    <%= f.select :value_type, options_for_select([["",""], ["%", "%"], ["$", "$"]]) %>
    <br>
    <%= f.submit "Create Coupon" %>
  <% end %>