<%= render partial: "shared/nav" %>

<h2> Merchants Associated Coupons</h2>

<div class="ml-auto col-sm-6">
  <ul>
    <% @merchant.coupons.each do |coupon| %>
      <li><%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
      <%= coupon.value %>
      <%= coupon.value_type %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Create New Coupon", new_merchant_coupon_path %>
