<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'>Merchant's Associated Coupons</p>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="column-header">
        <p>Active Coupons</p>
      </div>

      <ul>
        <section id="active">
          <% @merchant.coupons.each do |coupon| %>
            <% if coupon.status == "active" %>
            <li>
              <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
              <%= coupon.value %>
              <%= coupon.value_type %>
            </li>
            <% end %>
          <% end %>
      </ul>

    </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="column-header">
        <p>Inactive Coupons</p>
      </div>

      <ul>
        <section id="inactive">
        <% @merchant.coupons.each do |coupon| %>
          <% if coupon.status == "inactive" %>
          <li>
            <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %>
            <%= coupon.value %>
            <%= coupon.value_type %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</body>

<%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant) %>
